services:
  sas_ur_control_template:
    build: https://github.com/MarinhoLab/sas_ur_TAMP.git#main:.devel/sas_ur_control_template
    volumes:
      - trajectory-share:/shared
      - sas-ur-control-template-repo-data:/root/sas_tutorial_workspace/src/sas_ur_TAMP/
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: /bin/bash -c "
      echo 'Waiting for trajectory file...'; \
      while [ ! -f /shared/trajectories.json ]; do sleep 1; done; \
      cp /shared/trajectories.json /root/trajectories.json; \
      echo 'Copied trajectories.json into /root'; \
      ros2 launch sas_ur_TAMP \
      simulation_example_py_launch.py \
      coppeliasim_ip:='host.docker.internal' \
      coppeliasim_timeout:=10000"

  coppeliasim:
    image: murilomarinho/coppeliasim:noble_470rev4
    platform: linux/amd64
    stop_signal: SIGINT
    environment:
      DISPLAY: $DISPLAY # x server related
    privileged: true # Needed for some gpu configurations.
    volumes:
      - sas-ur-control-template-repo-data:/root/sas_tutorial_workspace/src/sas_ur_TAMP/
      - /tmp/.X11-unix:/tmp/.X11-unix # x server related
      - ~/.Xauthority:/root/.Xauthority # x server related
    network_mode: "host" # x server related
    command: /bin/bash -c "
      cd "$$COPPELIASIM_PATH"
      && ./coppeliaSim.sh \
      -s0 \
      /root/sas_tutorial_workspace/src/sas_ur_TAMP/scenes/UR3e_480rev0.ttt"

  coast:
    build: https://github.com/MarinhoLab/sas_ur_TAMP.git#main:.devel/tamp
    container_name: coast
    volumes:
      - trajectory-share:/shared
      - coast-repo-data:/root/testing/src/sas_ur_TAMP/
    command: /bin/bash -c "
      python3 envs/kuka/run.py; \
      sleep 5; \
      file=$$(find / -name 'trajectories.json' 2>/dev/null | head -n 1); \
      if [ -n \"$$file\" ]; then \
        mv \"$$file\" /shared/trajectories.json; \
        echo \"Moved trajectories.json from $$file to /shared\"; \
      else \
        echo \"trajectories.json NOT FOUND anywhere\"; \
      fi; \
      while true; do echo 'hello'; sleep 1; done"


volumes:
  sas-ur-control-template-repo-data:
  coast-repo-data:
  trajectory-share:
